[2019-11-04 15:26] Giselle-Schwartz opened #204 "When adding users via ldap_group, some groups work and others fail"
My team is testing using ldap_groups (ACLs) to add user access to PCF instead of ldap_users (lanid), which is how we currently grant access to PCF. I have noticed that some ACLs work for this purpose and others do not. I encounter the following error "group not found" with groups that exist and "no users found under group" with groups that exist and have users.

[2019-11-04 15:44] calebwashburn commented on #204
This is generally due to have a search base that is either not inclusive enough for users or groups.  Or search filter is not being constructed correctly.  Do you have any logs to share?

[2019-11-04 16:28] Giselle-Schwartz commented on #204
Can you confirm:

If PCF authenticate client against Azure AD then the groups must be replicated in Azure AD too.

[2019-11-04 16:56] calebwashburn commented on #204
Ideally cf-mgmt should be using the same source of truth for AD that PAS is using so that as content is replicated cf-mgmt will pick up group membership, etc.   If groups are not being replicated just users then you can point cf-mgmt to the origin.  Hope that makes sense....

[2019-11-04 18:47] #204 closed

[2019-11-05 17:35] aegershman opened #206 "Idempotentcy in `space` command"
Apologies for not following the bug report template exactly, though this is just a continuation of https://github.com/pivotalservices/cf-mgmt/issues/190

Using v1.0.36

When using the `space` command, `cf-mgmt-config` is setting `allow-ssh: false` even if it was already `true`. The `update-space` command does _not_ appear to be doing this.

[code]

Let me know if there's anything else I can do to

[2019-11-05 18:21] Giselle-Schwartz opened #207 "What are the implications of having a user added to a space config under ldap_users and ldap_groups?"
My organization will be switching gradually to ldap_groups from ldap_users and they want to know if having users added under both would somehow negatively effect the platform. Thanks.

[2019-11-05 18:30] calebwashburn commented on #207
Each option can be used together.  Each org/space can have differing approaches as well.  So you can start with users then add groups and then remove users and cf-mgmt will determine the end result of which users should be added and/or removed based on the configuration.

[2019-11-05 19:52] Giselle-Schwartz commented on #207
What happens when someone is added or removed from an ACL? How and when is that updated in PCF?

[2019-11-05 19:55] calebwashburn commented on #207
The concourse pipeline for cf-mgmt has a timer task that by default is configured as 15 minutes.  So within 15 minutes of a user being removed from a group that users permissions will be removed from the corresponding role in PCF

[2019-11-07 15:38] calebwashburn commented on #207
Closing this issue @Giselle-Schwartz, feel free to re-open or open another one if additional questions.

[2019-11-07 15:38] #207 closed

[2019-11-07 18:55] emreyokur opened #209 "Parsing cn by converting userdn to uppercase gives wrong results for special cases..."
Latin small letter with dotless i, which is "ı" is a two byte character, but when converted to uppercase it becomes "I", which is one byte. Hence ldap search gives error.

[2019-11-07 20:31] calebwashburn commented on #209
@emreyokur  Can you provide log output with debug level logging turned on?  Want to be able to capture the error as well as simulate.  What is the ascii character value giving you trouble as should be able to recreate with that as well.

[2019-11-07 21:47] emreyokur commented on #209
Sure. The problematic character for mycase is the dotless i char which has ascii character value 213.
[ASCII-213](https://theasciicode.com.ar/ascii-codes/lowercase-dot-less-i-ascii-code-213.gif "ASCII-213")

[code]

Below is a piece of test code and output.

[code]

userDN: Ekın Toğulmoç 88588,OU=xxx,DC=xxx,DC=xxx
len(userDN): 43
strings.ToUpper(userDN): EKIN TOĞULMOÇ 88588,OU=XXX,DC=XXX,DC=XXX
le

[2019-11-08 19:54] calebwashburn commented on #209
@emreyokur I believe I have addressed the issue.  If you can switch to the "develop" tag to test if this is working that would greatly appreciated before I cut a new release.

[2019-11-08 20:52] emreyokur commented on #209
Hi @calebwashburn
Switched to the develop tag, run the pipeline and org and space users updated correctly according to the ldap groups provided in the orgConfig.yml and spaceConfig.yml.

![image](https://user-images.githubusercontent.com/12710021/68509789-d7569080-0282-11ea-93af-95bda3023ecb.png)

Thanks for the quick resolution.

[2019-12-03 17:42] Giselle-Schwartz opened #210 "Temp users get deleted by update-users job"
We need to have our update-users job on a timer now that we are moving to ldap_groups, but we find that this is causing the job to delete the temp users that get created when our devs use their pipelines to deploy their apps... Causing the job to fail saying they are not authorized (due to the temp user that is used to run this job, being deleted by cf-mgmt)... Is there any way to whitelist users

[2019-12-03 18:09] calebwashburn commented on #210
Interesting as never have heard of use case for temp users as generally with ldap a functional account is created and assigned to a group so you can manage the password externally and the pipeline uses that user account.  How are these temp accounts created?    Just would like to understand more about the process being used to figure out the right solution.

[2019-12-03 18:55] claassen commented on #210
Answering for Giselle - we are creating the users first via the CF UAA API, then creating the user in PCF and assigning org/space access via the CF APIs. We create these temporary users and delete them after performing deployment actions to limit the possibility that someone hijacks the build container and continues to perform other unauthorized actions after the deployment process is complete.

[2019-12-03 19:24] calebwashburn commented on #210
I have seen this done with functional accounts that change passwords more frequently and not having those users be local user accounts.  But based on your approach can see how the fact this is removing users can conflict with running deployments as cf-mgmt has a blind spot to users that are ephemeral.    To address this immediately you really only have a couple options.  1) change the configuratio

[2019-12-03 19:32] pranaysharmadelhi commented on #210
Answering for Giselle - Is it possible to add a timeframe to only delete users that were created more than x minutes ago? That ways they get picked up by the next cycle.

[2019-12-10 08:25] shchoube commented on #164
this is needed. Please add this feature in cf-mgmt.

[2019-12-23 18:59] claassen opened #211 "Allow disabling deletion of orphaned users with a flag, similar to enable-remove-users"
We have a process that programatically creates users in UAA and then adds them to a role in a particular space. What we have observed is that when this user is added to UAA after the initial call that lists all UAA users while a update-space-users command is running, later in the process when it lists the users for the particular roles in the space it sees this user but fails to find it in the ini

[2019-12-23 19:05] claassen commented on #211
We have a process that programatically creates users in UAA and then adds them to a role in a particular space. What we have observed is that when this user is added to UAA after the initial call that lists all UAA users while a update-space-users command is running, later when it lists the users for the particular roles in the space it sees this user fails to find it in the initial list of UAA us

[2019-12-30 15:22] claassen commented on #211
It looks like in the current 'develop' branch the logic to delete orphaned users now only runs with the 'cleanup-org-users' command which should solve our problem. Any ETA on a next release where we will have these changes?

[2019-12-30 16:48] claassen commented on #211
It looks like the deletion or orphaned users no longer happens except when running cleanup-org-users (https://github.com/pivotalservices/cf-mgmt/commit/28f27c7a2b4c86e0207d6cc781bd7631ade09b32). Any ETA on when this will be available as a new release?

[2020-01-06 07:01] shruu7 opened #212 "Password parameter is deprecated, create uaa client and client-secret instead."
Hi Team,

I see the password parameter is deprecated issue in our cf-mgmt concourse pipeline. I verified if we have any special characters in the client secret (we don't).

Could you please help me with this?

Thanks,
Srushti

[2020-01-06 15:23] calebwashburn commented on #212
Can you provide the log output of what you are seeing error out?

[2020-01-06 19:39] labrown opened #213 "Cache LDAP lookups in each job"
This is a feature request / improvement.

We have a few LDAP groups referenced in many orgs/spaces.  Caching the results of LDAP lookups in each cf-mgmt job would greatly reduce the number of searches cf-mgmt throws at our LDAP servers (Active Directory actually).

We aren't worried about LDAP group membership changing while any particular cf-mgmt job is running.  The next run will pick up those c

[2020-01-07 13:48] shruu7 commented on #212
Sure,

2019/12/03 15:51:33 W1203 15:51:33.964226 12 initialize.go:73] Password parameter is deprecated, create uaa client and client-secret instead

This is what the log output says.

Also, I came across this :
Introduced in cf-mgmt 0.0.66+ is the ability to define a non-admin uaa client. With this release, the password field has been deprecated.

We are using user-id and password and client-secre

[2020-01-07 15:20] calebwashburn commented on #212
The preferred mechanism is to create your own uaa client and then only specify those values.

https://github.com/pivotalservices/cf-mgmt/tree/master/docs#authentication-requirements

Then ensure the `password` parameter is set to "" (blank) and `user_id: <new client>` and `client_secret: <new client secret>`

[2020-01-07 15:56] calebwashburn commented on #211
With 1.0.37 will not remove orphaned users if org property of `enable-remove-users: false`

[2020-01-07 16:10] calebwashburn commented on #213
Released in https://github.com/pivotalservices/cf-mgmt/releases/tag/v1.0.37

[2020-01-07 16:10] #213 closed

[2020-01-07 16:10] calebwashburn commented on #211
Released in https://github.com/pivotalservices/cf-mgmt/releases/tag/v1.0.37

[2020-01-07 16:10] #211 closed

[2020-01-07 16:11] calebwashburn commented on #209
Released in https://github.com/pivotalservices/cf-mgmt/releases/tag/v1.0.37

[2020-01-07 16:11] #209 closed

[2020-01-07 16:11] calebwashburn commented on #202
Released in https://github.com/pivotalservices/cf-mgmt/releases/tag/v1.0.37

[2020-01-07 16:11] #202 closed

[2020-01-07 16:11] calebwashburn commented on #206
Released in https://github.com/pivotalservices/cf-mgmt/releases/tag/v1.0.37

[2020-01-07 16:11] #206 closed

[2020-01-07 16:11] calebwashburn commented on #191
Released in https://github.com/pivotalservices/cf-mgmt/releases/tag/v1.0.37

[2020-01-07 16:11] #191 closed

[2020-01-07 16:13] calebwashburn commented on #210
Just released 1.0.37 which should allow you to turn of removing users completely.  Want to validate this 1) works 2) there is still a need to have the ability to enable removing unspecified users but have additional ability to ignore users that match a pattern.

[2020-01-07 22:19] labrown commented on #213
Wow!  Now that's what I call service!  Thanks much!

[2020-01-07 22:20] calebwashburn commented on #213
@labrown Curious if you can share the outcome/impact of the changes as would like to know the impact this made to run the update-org|space-users jobs.

[2020-01-07 23:10] labrown commented on #213
I was out sick today but will do some testing tomorrow and let you know.

[2020-01-08 18:49] claassen commented on #210
Ideally yes we would still benefit from the ability to ignore users based on some pattern. Currently we work around things by running the update-users with enable-remove-users enabled only for a job that runs off hours, but this means that removal of access for users is quite delayed and it can still potentially impact our temporary users if deployments happen to be running off hours during these

[2020-01-09 15:34] JonRavenscraft opened #214 "Add a toggle for disabling/enabling space quotas to prevent spam lines during applies"
**Is your feature request related to a problem? Please describe.**
For all of our foundations, we are using Org Quotas, but not Space quotas.  However, we have hundreds of spaces, and on every apply, the system churns for minutes looking for Space Quota settings, even though the value for enable-space-quotas is "false" on every Space.

We end up with cluttered logs, with hundreds of entries (per r

[2020-01-09 18:08] labrown opened #215 "Regression in ldap/ldap.go/GetUserbyDN"
**Describe the bug**
cf-mgmt 1.0.37 has  funcationality regression.
Git commit https://github.com/pivotalservices/cf-mgmt/commit/ae213569507301239e70f6e67e49aae107a8a1d2#diff-0f5bcbd669b5eb1ac514214bbe7dabfaR156 regressed a change made back in December 2017 to support LDAP orgs with users showing up in multiple OUs. a2bb2ce4c51cae777553b392de2e9ab15bfa0a81

**To Reproduce**
Steps to reproduce the

[2020-01-09 18:47] calebwashburn commented on #215
Fixed in - https://github.com/pivotalservices/cf-mgmt/releases/tag/v1.0.38

[2020-01-09 18:47] #215 closed

[2020-01-09 18:48] calebwashburn commented on #214
Optimization added in - https://github.com/pivotalservices/cf-mgmt/releases/tag/v1.0.38  No changes needed to pick up optimization.

[2020-01-09 18:48] #214 closed

[2020-01-09 18:50] JonRavenscraft commented on #214
Sweet - thanks for quick turn-around!

[2020-01-09 18:50] calebwashburn commented on #210
Feature Added in - https://github.com/pivotalservices/cf-mgmt/releases/tag/v1.0.38

Need to add property to cf-mgmt.yml to provide list of users/patterns to ignore.

https://github.com/pivotalservices/cf-mgmt/blob/master/docs/config/README.md#global-config  see `protected-users` reference

[2020-01-09 18:50] #210 closed

[2020-01-09 18:52] calebwashburn commented on #214
No problem.... Let me know if this addresses the concern, if not feel free to re-open.  Based on logic should speed up that job quite a bit if you aren't using space quotas at all and have lots of spaces.

[2020-01-10 07:27] shruu7 commented on #212
Thanks for your quick response @calebwashburn.

I have created a non-admin client, but I have used the existing client_secret, I hope that doesn't matter?

Thanks,
Srushti

[2020-01-10 18:28] calebwashburn commented on #212
The built in `admin` client secret is a uaa admin and doesn't have the correct scopes to create spaces, orgs, etc.  So if using this you must also get the password for the cloud controller admin credentials and specify both password and client-secret.

That being said... The preferred mode is to create a specific uaa client per directions above and only use client-secret with a blank password para

[2020-01-14 10:03] shruu7 commented on #212
Thanks a lot @calebwashburn, it worked out for me. I appreciate your help.

Thanks,
Srushti

[2020-01-14 13:15] spkrsna opened #216 "Is add-network-policy is there using cf-mgmt"
Is cf "add-network-policy" there using cf-mgmt , if not in feature will it be implemented?

[2020-01-14 14:26] #212 closed

[2020-01-14 15:50] calebwashburn commented on #216
There isn't currently support for this but can add it to the backlog and investigate what it would take to implement this.

[2020-01-14 19:26] calebwashburn commented on #216
@spkrsna  Looking at the documentation this appears to be better suited to be part of an applications ci/cd pipeline as it requires information about the application source/target to be configured.  Similiar to how `cf create-service` is generally included in the app ci/cd pipelines.

https://cli.cloudfoundry.org/en-US/cf/add-network-policy.html

Currently cf-mgmt stops at the configuration of org

[2020-01-23 15:28] mymasse opened #217 "Unable process LDAP users when userSearchBase is configured"
**Describe the bug**
Running `update-org-users` or `update-space-users` fails after upgrade to 1.0.38. Error is `LDAP Result Code 32 "No Such Object"`.

**To Reproduce**
Steps to reproduce the behavior:
1. With and ldap.yml containing both a bindDN and userSearchBase, but with a userSearchBase different than the bindDN
2. Run either `update-org-users` or `update-space-users`
3. Error: `ldap.go:217

[2020-01-23 15:31] mymasse commented on #217
I think the issue came in #215

We use LDAP groups for org managers and running in debug I saw it picked up a new user in the group not an org manager:
User: uid=AAAAAA,ou=BBBBBB,ou=CCCCCC,o=DDDDD,c=EEEEEE
search base for finding it back in LDAP was ou=BBBBBB,ou=CCCCCC

[2020-01-23 16:06] calebwashburn commented on #217
Fixed regression in 1.0.40 - https://github.com/pivotalservices/cf-mgmt/releases/tag/v1.0.40

[2020-01-23 16:06] #217 closed

[2020-01-24 15:44] labrown opened #218 "orgConfig.yml named-quota vs. named_quota"
cf-mgmt 1.0.38

The doc page at https://github.com/pivotalservices/cf-mgmt/tree/master/docs/config shows the property 'named-quota' in the orgConfig.yml.

When I use cf-mgmt-config to create a named quota and assign it to an org, the orgConfig.yml gets something like 'named_quota: test-name-quota'.

Is this a documentation bug or a config file bug?

[2020-01-24 15:51] calebwashburn commented on #218
Fixed documentation.   Code is expecting `named_quota` not `named-quota` which I realize is inconsistent with other fields that use `-` vs `_` so will see what we can do to address that in the future and avoid breaking compatibility.

[2020-01-24 15:51] #218 closed

[2020-01-24 16:25] labrown commented on #218
Thanks!

[2020-01-24 18:27] jardilio opened #219 "Unabled to list existing space security groups for org/space when creating new org/space in PEEK mode"
**Describe the bug**
A new space is defined in the project, when apply is run in PEEK mode it fails with error. The logs show its creating the space in dry-mode (not really created), then later fails when it tries to query the security groups of a space that doesn't exist (because its running PEEK).

[dry-run]: create space env/dev/green for org foobar
...
error: Unabled to list existing space sec

[2020-01-24 21:13] labrown opened #220 "config space setting allow-ssh-until confusion"
The docs don't make clear you have to include both --allow-ssh=false and --allow-ssh-until=TIMESEPC in order for allow-ssh-until to work.

If you don't include the allow-ssh=false in the command the config command succeeds but no change is made to the spaceConfig.yml.

Demonstration:

$ cf-mgmt-config-1.0.38 init
2020/01/24 16:09:48 I0124 16:09:48.956711 2026 init.go:14] Initializing config in dir

[2020-01-27 18:43] labrown opened #221 "Missing newline on delete-org/delete-space messages"
**Describe the bug**

This is a niggle in cf-mgmt 1.0.38

The success message for cf-mgmt-config delete-org and delete-space commands lack a newline.

The commands to create an org or space use fmt.Println to create their success messages.
delete-org and delete-space use fmt.Printf, which is why they are missing newlines.

**To Reproduce**

$ cf-mgmt-config-1.0.38 org --org=test2
2020/01/27 13:36:

[2020-02-06 22:01] findneville opened #223 "Execution of export-config fails with error code 10000"
**Describe the bug**
Execution of export-config fails with error code 10000

**To Reproduce**
Steps to reproduce the behavior:
1. Run the command:
cf-mgmt export-config --config-dir=./config/myenv --system-domain=my-env.x.x.com --user-id=cf-mgmt-user --client-secret=xxxxx

**Expected behavior**
... Collects all the data but ends with
2020/02/06 16:50:00 E0206 16:50:00.559481 452 export_config.go:4

[2020-02-06 22:24] findneville commented on #223
Looking through the code it appears the failures are probably on "DefaultProtectedOrgs"

Not sure what or how this is determined. Looked through the v2 and v3 apis, I cannot find anything different.

[2020-02-06 22:35] calebwashburn commented on #223
@findneville

Can you turn on debug and provide logs...

[code]

[2020-02-07 16:11] findneville commented on #223
@calebwashburn
The output I have pasted and screenshot are with the LOG_LEVEL set. The below is the output and there is nothing else. Logs before it fails are below. Let me know if we need more info

2020/02/07 09:16:23 I0207 09:16:23.163968 16665 yaml_config.go:433] Writing out orgQuota 1000G
2020/02/07 09:16:23 E0207 09:16:23.188502 16665 export_config.go:49] Export failed with error:  {
  "desc

[2020-02-07 16:59] calebwashburn commented on #223
The final 2 steps in the export are to get shared domains and routing groups.  No logging exists to indicate which one we are getting so will add that shortly.  But these are making calls to the following....

[code]

[code]

[2020-02-07 17:11] calebwashburn commented on #221
Fixed in https://github.com/pivotalservices/cf-mgmt/releases/tag/v1.0.42

[2020-02-07 17:11] #221 closed

[2020-02-07 17:11] calebwashburn commented on #223
@findneville  Added more logging to help debug this - https://github.com/pivotalservices/cf-mgmt/releases/tag/v1.0.42

[2020-02-07 18:13] findneville commented on #223
Thx @calebwashburn .. Trying now

[2020-02-07 18:19] findneville commented on #223
So you are right. Its the router-groups where things are failing. We do not have TCP routing enabled.

2020/02/07 13:16:43 I0207 13:16:43.30692 20225 exportconfig.go:295] Listing Router Groups
2020/02/07 13:16:43 E0207 13:16:43.320324 20225 export_config.go:49] Export failed with error:  Getting routing groups: {
  "description": "Unknown request",
  "error_code": "CF-NotFound",
  "code": 10000
}

[2020-02-07 18:56] calebwashburn commented on #219
Fixed in https://github.com/pivotalservices/cf-mgmt/releases/tag/v1.0.43

[2020-02-07 18:56] #219 closed

[2020-02-07 18:57] calebwashburn commented on #223
Added new flag to allow skipping router groups in https://github.com/pivotalservices/cf-mgmt/releases/tag/v1.0.43

[2020-02-07 18:57] #223 closed

[2020-02-07 19:13] findneville commented on #223
Works.. Thx

[2020-03-04 21:48] crusstu opened #225 "Document `update-spaces-metadata`"
**Is your feature request related to a problem? Please describe.**
Initial support for `cf-mgmt update-spaces-metadata` was added for #171 / v1.0.26, but there does not appear to be any corresponding documentation for this command [in the `docs/` folder](https://github.com/pivotalservices/cf-mgmt/tree/4a033595935f3e9d122e88f8c32b0875c5980f05/docs).

**Describe the solution you'd like**
The creatio

[2020-03-04 22:55] crusstu opened #226 "Make `MetadataPrefix` optional"
**Is your feature request related to a problem? Please describe.**
When using `cf-mgmt` to add metadata to spaces, the label is prefixed with `cf-mgmt.pivotal.io/`. From the Cloud Foundry docs this [does not appear to be a requirement](https://docs.cloudfoundry.org/adminguide/metadata.html), and based on the below snippet this behaviour also seemingly can't be turned off:

https://github.com/pivot

[2020-03-10 00:44] sneal opened #227 "create-orgs silently doesn't create orgs when you forget the orgs.yml entry"
**Describe the bug**
create-orgs outputs that it needs to create said org, but then doesn't do it.

**To Reproduce**
Steps to reproduce the behavior:
1. Add a subfolder and all the config for an org, but forget to add it to the orgs.yml list.
2. Run create-orgs
3. Notice output similar to `create org dev as it doesn't exist in [system credhub-service-broker-org p-spring-cloud-services]`
4. Run `cf

[2020-05-06 15:57] aegershman opened #230 "Cf-mgmt except it's UAA/SSO"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

[I'm a happy user of Single Sign-On for VMWare Tanzu™️](https://docs.pivotal.io/p-identity/1-12/release-notes.html), however setting up identity plans can be a pain in the tuchus-- especially when setting up relying parties as part of fede

[2020-05-12 13:47] Anthonyhawkins opened #231 "VMWare URL has wrong binary"
**Describe the bug**
versions downloaded from these two urls
https://github.com/pivotalservices/cf-mgmt/releases/download/v1.0.16/cf-mgmt-linux
https://github.com/vmwarepivotallabs/cf-mgmt/releases/download/v1.0.16/cf-mgmt-config-linux

will produce different "versions" of the CLI tool even though version output is the same. CLI options are different between both.

**To Reproduce**
Pivotal URL whi

[2020-05-12 13:50] calebwashburn commented on #231
@Anthonyhawkins You are pulling 2 different cli(s).  cf-mgmt vs cf-mgmt-config.  If you pull https://github.com/vmwarepivotallabs/cf-mgmt/releases/download/v1.0.16/cf-mgmt-linux the output should be the same.

[2020-05-12 13:50] #231 closed

[2020-05-12 17:16] Anthonyhawkins commented on #231
well that's embarrassing My eyes deceive me - thanks for pointing it out.

[2020-05-20 21:46] marianafalzone opened #232 "cfmgmt creating users with weird ids"
**Describe the bug**
The cf-mgmt pipeline seems to leave behind some mysterious users.

**To Reproduce**
`$cf org-users prod-org`
Getting users in org prod-org as admin...

ORG MANAGER
admin
85659a04-e3bd-462f-a145-2ed0e70b86d2 (client)
20ae010f-90e7-407e-8a4c-528352c8bf51 (client)
7277c272-b5be-4c17-bbd0-a8fec96a2342 (client)
7986836a-7dfe-4f6c-9d2e-63fac586f95d (client)
7158a081-c47d-4ca4-826d-5

[2020-05-21 16:31] mstergianis commented on #232
I'm sorry but I don't believe I have enough information to recreate this issue. What version are you using? What does a scrubbed version of your config look like?

[2020-05-21 18:04] marianafalzone commented on #232
Hi,

Thanks for our answer.

The version is 1.0.43.

The config is:
`Skip to sidebar navigation
Skip to content
Linked Applications
Bitbucket
Projects
Repositories
Search for code or repositories
Search for code or repositories...
Help
Administration
7
Logged in as Mariana Falzone (mariana.falzone)
Pivotal Cloud Foundry
Clone
Create branch
Create pull request
Fork

Source
Commits
Branches
Network

[2020-05-26 16:35] marianafalzone commented on #232
Thank you! We already tried to remove them with the uaac but we were not able to do so. Any other recommendation?

[2020-05-26 17:37] mstergianis commented on #232
Is it that the users are deleted and then re-appear? Or are you unable to delete them?

I'm not aware of any clients that cf-mgmt requires or creates. Other than the [single client](https://github.com/vmwarepivotallabs/cf-mgmt#create-uaa-client) that you must create in order for cf-mgmt to operate.

How did you come to know that cf-mgmt was creating the users?

[2020-05-26 20:41] marianafalzone commented on #232
We are unable to delete them.
I don’t know that it’s creating the users, i’m assuming it needs some identity to apply to roles to. i guess the question is what happens if a user is added to the cf-mgmt configs and has roles applied to it before the user is created in UAA or with cf create-user

what can cloud foundry apply the roles to if there is no identity yet?

[2020-05-27 22:06] marianafalzone commented on #232
Hi there.
I had to manually delete the weird ids from the UI. I was not able to delete the users from the cli since they were not showing. I reported this bug to pivotal.
Our cfmgmt pipeline runs every 5 minutes so I was able to validate that the users are not getting recreated.

[2020-05-27 22:06] #232 closed

[2020-05-28 14:11] mstergianis commented on #232
Glad to see this is resolved. Sorry I wasn't able to be more help.

[2020-07-17 19:42] #230 closed

[2020-07-29 07:26] jblackman opened #233 "cf-mgmt tries to make space-scoped service plans public"
**Describe the bug**
If a developer creates a space-scoped service broker, cf-mgmt will fail with this indicative error:

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Create a cf-mgmt configuration (or export one with cf-mgmt-config).

2. Create a space-scoped service broker with a user with just SpaceDeveloper permissions and at least one service plan.

[code]

3. Run the cf-mgmt

[2020-07-29 08:54] jblackman opened #234 "Allow config to restrict service plans to an exact org set, excluding protected orgs"
**Is your feature request related to a problem? Please describe.**
For security reasons, we want to restrict a custom service broker to a set of specific orgs, but using "limited_access_plans" means that protected orgs will also be granted access, which we don't necessarily want.

"Protected" orgs is a dual-use setting: protect from deletion and protect from service-access restrictions. So, whilst

[2020-07-29 15:01] san4ever opened #235 "Unable to view system orgs and spaces"
We are managing orgs and space in our foundation using cf-mgmt plugin 1.0.45. version
In one foundation we can able to access system related orgs
but in other foundation we were unable to view
Both foundation using same config as a feed to concourse pipeline

same scope is used by uaac client

[2020-07-29 15:46] san4ever commented on #235
@calebwashburn  Can you look into this

[2020-07-29 15:50] calebwashburn commented on #235
Not sure I follow the issue.

That being said.... cf-mgmt doesn't manage system org as this is part of the protected orgs and is designed to never manage system org and it's spaces.

[2020-07-29 15:54] san4ever commented on #235
Thanks @calebwashburn
Same configurations,uaac clients with same scope, ldap details were used by both foundation.
But in one foundtion we can able to view system related orgs
but not in other foundations
Both foundtions were in PAS-2.8.x

[2020-07-29 16:16] calebwashburn commented on #235
cf-mgmt does not manage users roles in the system org (or any of it's spaces) so these were added outside the control of cf-mgmt in the foundation that is working as expected.  Generally if you have users that need access to those roles you given them admin privlidges.  https://docs.cloudfoundry.org/uaa/uaa-user-management.html#creating-admin-users

[2020-07-29 17:25] san4ever commented on #235
Thanks for the clarity. I will look into the document provided

[2020-08-05 15:25] Petahhh commented on #137
Hi all,

I'm doing some clean up of the open issues and PRs for this project. I see this has been open for half a year with a a good work around (thanks Caleb!).

I'm closing this issue but feel free to open it if you are still blocked or need a better solution.

Thanks

[2020-08-05 15:25] #137 closed

[2020-08-05 16:09] Petahhh commented on #235
Hi @san4ever

We are going through all the open issues and trying to prioritize them in our backlog. I see Caleb has provided a potential work around. I'm going to close this issue for now but feel free to open it if you are still blocked

Thanks

[2020-08-05 16:09] #235 closed

[2020-08-06 19:47] mstergianis commented on #233
Thanks for the feedback @jblackman, unfortunately I don't have an answer for you at the moment, but the team has put this into our tracker and are looking into it

[2020-08-06 19:50] mstergianis commented on #234
Hi there @jblackman, the team has put this into our tracker and will be reviewing the feature request

[2020-08-07 18:03] Petahhh commented on #26
Hi all and thank you for your comments.

Apologies that this old issue has been floating around for a while. It seems like there are a few open questions to be addressed before this can be actioned. I'm going to spend the next month ensuring this issue is addressed in some way.

[2020-08-07 18:06] Petahhh commented on #75
Hi all - thank you for putting together an idea of what this feature would look like.

I'll spend the next month ensuring this issue gets addressed in some way. Thanks again!

[2020-08-07 18:09] Petahhh commented on #92
Hi and thank you for opening this issue. This would be convenient to see. Over the next month I will ensure we can address this issue (whether to add it to a backlog or properly labelled). Thanks again

[2020-08-07 18:12] Petahhh commented on #97
Thank you for the comment and thank you Aaron for the well thought-out work around. I see a few others in support of the original request and that this has been opened for quite some time. Over the next month I'll ensure this issue is actioned on (properly labelling or prioritization in the backlog).

[2020-08-07 18:17] Petahhh commented on #146
Hi all - thank you for your comments. I too am curious what a PKS version would look like.

For the purposes of cleaning up old issues, within the month I'd like to have the issue actioned on. Maybe label it as an open discussion? Close it?

[2020-08-07 18:19] Petahhh commented on #164
Hi all - thank you for opening this issue and apologies there hasn't been much engagement on it. I don't know how to action on this issue right now but will follow up within a month.

[2020-08-07 18:21] Petahhh commented on #187
Hi @calebwashburn - We're going through all the open issues within the next month to ensure they're prioritized or actioned in some way. Thanks for bringing the use case up.

[2020-08-07 18:27] Petahhh commented on #196
Hi @PG2000 - thank you for your question and apologies for the lack of response. Have you since gotten a work around for this? If not I'll ensure someone looks into this question.

[2020-08-07 18:28] Petahhh commented on #198
Hello and thank you for reporting this bug. I appreciate the detailed reproduction steps which makes it easy to dive into. We have this filed as a bug on our backlog. I'll provide an update with that within the month.

[2020-08-07 18:31] Petahhh commented on #199
Hi all and thank you for your comments. Thank you Aaron for your detailed perspective on this. I see this has been open for almost a year now. Within the next month I'd like to action on this in some way.

[2020-08-07 18:36] Petahhh commented on #200
Hello and thank you for opening the issue. Apologies there have not been much engagement in over a year.

Thank you Aaron for your detailed perspective on this. In the next month I'll ensure we action on this issue in some way.

[2020-08-07 18:38] Petahhh commented on #216
Hi and thank you for opening the issue. Thank you to Caleb for your perspective on it.

I'd like to close the issue but feel free to re-open it if you have more ideas or thoughts you'd like to share or feel strongly cfmgmt is the best place to address your use case.

[2020-08-07 18:38] #216 closed

[2020-08-07 18:42] Petahhh commented on #220
Hi Lance - thank you for the detail report of this bug. It is pretty frustrating this is not properly documented and that you get a false positive running the config command. In the next month I'll ensure this issue is actioned on.

Sorry for the long wait to get this acknowlegded

[2020-08-07 19:01] Petahhh commented on #225
Hi and thank you for noticing the undocumented command. This is important for me to get documented. I'll ensure this gets addressed this month. Thank you for your patience - apologies for the lack of engagement on the issue.

[2020-08-07 19:02] Petahhh commented on #226
Hi and thank you for opening this issue. Apologies for the lack of engagement on it.

I'm curious why this mandatory for cfmgmt but not in cf. I'll look into what reasons may exist for it within the codebase.

[2020-08-07 19:07] Petahhh commented on #227
Hi and thank you for filing this bug. I'll ensure this gets addressed in some way over the next month. Thank you for your patience and apologies for the lack of engagement.

[2020-08-26 15:07] ryanmattcollins commented on #233
Hey @jblackman! We've taken a look at the issue you've posted and are implementing a solution that skips `space-scoped` brokers as they don't really fit under the jurisdiction of `cf-mgmt`. Specifically, they seem to be a more developer controlled configuration compared to ones that are under the purview of operators.

[2020-08-26 20:32] Petahhh opened #238 "Update cf-mgmt-config global documentation"
**Describe the solution you'd like**

* The `cf-mgmt-config global` [README.md](https://github.com/vmwarepivotallabs/cf-mgmt/tree/master/docs/config/global) should match the output from running `cf-mgmt-config global --help` command.
* The output from `cf-mgmt-config global --help` does not seem to be complete.
  * The `--no-access-plan` flag contains the same description as `--all-access-plan=`

[2020-08-31 13:01] Petahhh opened #239 "test"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-08-31 13:06] #239 closed

[2020-10-19 19:48] mjenk664 commented on #196
@Petahhh I am also looking for the same type of functionality.

It appears that when referencing the SG name inside of the spaceConfig.yml file, it only assigns the security-group as a Running SG:

spaceConfig.yml:
[code]

See entry number 5 in output below:
[code]

I currently do not see any functionality to switch it to a Staging SG via cf-mgmt.

[2020-10-30 22:16] vanillacandy opened #244 "cleanup-org-users fail"
**Describe the bug**
A clear and concise description of what the bug is.

We are using pipeline+ldap combination.
To cleanup, I have the following code inside my pipeline.yml
- name: cleanup-org-users
  build_logs_to_retain:  {{build_to_retain}}
  plan:
  - get: config-repo
    passed: [create-orgs]
    trigger: true
  - get: 15m
    trigger: true
  - task: cleanup-org-users

The task was able to

[2020-11-02 16:42] pcf-user opened #245 "SAML with LDAP groups"
Our vmware Tanzu version: 2.9.X

We use  SAML as the "authentication and enterprise SSO" provider and use cf-mgmt in "SAML only" mode -->  https://github.com/vmwarepivotallabs/cf-mgmt/blob/master/docs/config/README.md#saml-configuration

So far so good.

Does "SAML with LDAP groups" enable us use LDAP groups/users authenticate to "cf api"  while  "authentication and enterprise SSO" provider is sti

[2020-11-02 19:33] vanillacandy commented on #244
vmware case created here also: https://community.pivotal.io/s/case/5000e00001nEXNvAAO/cleanup-org-users

[2020-11-03 00:18] ryanmattcollins commented on #244
Hi @vanillacandy! Unfortunately I don't seem to have access to the VMware case on community.pivotal.io, so I'm sorry if I ask questions you've already answered there.

The problem seems to be that it cf-mgmt was unable to remove the user from the org because a prerequisite of that operation is that the user has all of its org roles unset first.

You may be able to resolve this by:
1. Using the [cf

[2020-11-03 00:53] ryanmattcollins commented on #245
Hi @pcf-user!

The "SAML with LDAP groups" options means it uses SAML for the authentication, but it allows you to define access to orgs/spaces using the users in your LDAP groups assuming they match the users in your SAML. You can control which attribute of the LDAP user matches the SAML username by checking your `ldap.yml` configuration.

For example, if I have an LDAP group called "app-team", t

[2020-11-03 04:04] vanillacandy commented on #244
Thank you, that's very helpful. I will try to do that.
Also, I ran the cleanup command on my second foundation, the task completed and said it clean up all orgs, however, when I checked on some orgs, it got cleaned up successfully, but some of them didn't get cleanup at all. Without error command saying the task fail.

[2020-11-03 15:21] ryanmattcollins commented on #244
Hmmm, do you see log messages saying cf-mgmt did clean those orgs? Or are the log messages for those orgs not present? It may be worth checking your `orgs.yml` to see if any of the orgs that were not cleaned up might match any entries under the `protected-orgs` list.

[2020-11-03 20:30] pcf-user commented on #245
Hi @ryanmattcollins  - Attaching our LDAP.yml file.  Line # 12 - We use the same origin that we use with our SAML.
![Uploading 1.jpg…]()

[2020-11-03 20:32] pcf-user commented on #245
Attaching ldap.yml again  ![image](https://user-images.githubusercontent.com/73844017/98037530-553f7000-1de1-11eb-8518-2b04ce523b73.png)

[2020-11-03 21:00] vanillacandy commented on #244
There's no protected-orgs in the list.
The set up is like following
org.yml
org: XX
org-billingmanager:
  ldap_users: []
  users: []
  ldap_group: ""
org-manager:
  ldap_users: []
  users: []
  ldap_group: ""
org-auditor:
  ldap_users: []
  users: []
  ldap_group: ""
enable-org-quota: false
memory-limit: 10240
instance-memory-limit: -1
total-routes: -1
total-services: -1
paid-service-plans-allowed

[2020-11-04 02:45] calebwashburn commented on #245
@pcf-user If you set `insecure_skip_verify: true` does it work?  If so this suggests there is an issue with the ca chain and that would help with troubleshooting

[2020-11-04 16:37] ryanmattcollins commented on #244
It's probably worth mentioning that `cleanup-org-users` is really only a "clean up". The users it removes already have no permissions and are just lingering entries, so it really does no harm if the task fails. As long as there are no errors when setting/unsetting user roles in the org, this step is really just a nice housekeeping step. But if you like to see a pristine environment, carry on!

Bec

[2020-11-04 17:38] vanillacandy commented on #244
I have two scenarios.
1. Giving me error and pipeline won't proceed
2. Pipeline finished running cleanup-org-users but orphan users weren't all cleanup.
The first scenario is resolved after following your suggestion above by comparing the UI and cfcli commands differences. The second scenario persists, but I found out it's possible my bad. I have found one of the space within that org contains the

[2020-11-04 18:46] ryanmattcollins commented on #244
Ah okay, then sounds like that might be the issue! Let me know if that doesn't resolve the problem for you

[2020-11-04 18:49] #244 closed

[2020-11-04 18:56] pcf-user commented on #245
@calebwashburn :  Hi - Setting insecure didn't make any difference.

Attaching screenshot

![image](https://user-images.githubusercontent.com/73844017/98156270-2f77a100-1e9d-11eb-8b4e-ede965c8b3a9.png)

[2020-11-04 22:15] pcf-user commented on #245
With LOG_LEVEL=debug

with use_tls=false
----------------------

bash-4.4# cf-mgmt update-org-users
2020/11/04 21:56:18 D1104 21:56:18.656439 42 initialize.go:52] Using Version: [1.0.47], Commit: [1ed639f5e2a82f0074224d5cb8321cd619854a3d] of cf-mgmt
2020/11/04 21:56:18 D1104 21:56:18.893669 42 connection.go:68] Connecting to ldap.OUR-DOMAIN.com:636
LDAP Request: (Universal, Constructed, Sequence a

[2020-11-04 23:08] ryanmattcollins commented on #245
Just a heads up @pcf-user, those screenshots can be pretty easily manipulated to extract some information about your configuration, even with the blacked out bits. I'd highly recommend you remove the posted screenshots and replace them with code blocks that have the text redacted/changed manually. Or make sure that when you do redact the information, you're doing so with a tool that is completely

[2020-11-04 23:11] pcf-user commented on #245
@ryanmattcollins : Thank you. I removed the screenshots.

[2020-11-05 17:29] ryanmattcollins commented on #245
So since it's failing with `use_tls=false`, my guess is there is an issue with the `bindDN` or `bindPassword` since the error message is being produced from [these lines in the code](https://github.com/vmwarepivotallabs/cf-mgmt/blob/7f13622b68964ad75b3f696bbd80c6a2e0b497e6/ldap/connection.go#L105):
[code]

I noticed in your `ldap.yml` there was no `bindPassword` field though, is it possible you're

[2020-11-05 18:01] pcf-user commented on #245
@ryanmattcollins.  We are passing LDAP_PASSWORD from pipeline --> https://github.com/vmwarepivotallabs/cf-mgmt/blob/fc3f42e5ceab28f52df100c9b7c7d25e0105544e/generated/files/pipeline.yml#L242

Also, ldap.yml doesn't have any bindPassword entry --> https://github.com/vmwarepivotallabs/cf-mgmt/blob/master/docs/config/README.md#saml-configuration-with-ldap-group-lookups

It shouldn't  have one either

[2020-11-05 18:12] calebwashburn commented on #245
For additional context you can see what the TLS certificate chain that is being presented back from ldap with the following command.

[code]

[2020-11-05 18:17] calebwashburn commented on #245
Also since 636 is a TLS endpoint you need to keep that enabled.  So the settings to see if it's just a cert trust would be the following in ldap.yml

[code]

if above works then it's a problem with the following field having incorrect information

[code]

if you want to test without TLS then you need to use port 389 (typical non TLS ldap port) with the following settings:

[code]

[2020-11-05 20:51] pcf-user commented on #245
OK. I get a cert chain and cert from the SSL command. Should I use that cert or the chain in my ldap.yml?

[2020-11-05 21:51] calebwashburn commented on #245
You can use the entire chain but should only really need the root ca part of the chain.  So would start with entire and then remove things from the top until it doesn't work to see what you really need to complete the chain.

[2020-11-05 21:52] calebwashburn commented on #245
Did this configuration work?

[code]

[2020-11-06 18:17] pcf-user commented on #245
@calebwashburn

Had set configuration to this and used root and chain certs as seen with the openssl command. Still failing with the same TLS error.
use_tls: true
insecure_skip_verify: true
ldapPort: 636

[2020-11-06 20:03] calebwashburn commented on #245
Only other thing I can think of is that your dns name you are using to connect is not one of the subject alternative names.

[code]

and making sure the DNS entry is present in the certificate output.

[2020-11-09 20:03] pcf-user commented on #245
@calebwashburn : We are  checking this.

[2020-11-10 16:33] pcf-user commented on #245
We rechecked all our settings. They all appear to be OK. Chose the option "insecure_verify=true" as well. None of these worked. It is still failing with that TLS error.

We did some additional testing and here is what we found.

With ldapsearch and no cert, works

With python and no cert, works

We used the Go ldap module with Dial() method and it doesn't work

[2020-11-20 18:14] alexw19 commented on #245
Hi,

Updating this issue. We recreated the ldap connection portion:
[code]

This resulted in the similar output described above:
LDAP Result Code 200 "Network Error": remote error: tls: handshake failure

Am I missing additional parameters to pass in to the ldap client?

[2020-11-20 18:25] calebwashburn commented on #245
This is the code that runs which is slightly different than above.

[code]

[2020-11-20 18:34] calebwashburn commented on #245
To test you have the right certificate you can do this....

[code]

[2020-11-20 20:07] alexw19 commented on #245
Got it to work but we had to specify the min/max tls versions.
[code]

The settings below leads to TLS handshake errors
[code]

[2020-11-24 17:04] pcf-user commented on #245
@calebwashburn : We see that you updated the code to use a min and max TLS version. When are we planning to release a new binary with this updated code?

[2020-11-24 17:05] mstergianis commented on #245
I'll do that now

[2020-11-24 17:11] mstergianis commented on #245
With the release of [v1.0.48](https://github.com/vmwarepivotallabs/cf-mgmt/releases/tag/v1.0.48) this can probably be marked closed. Thanks for your incredibly support @calebwashburn.

[2020-12-04 21:58] Hermen-Nicolau opened #248 "When updating space users the LDAP users are getting added and immediately removed from the ORG/SPACE"
**Describe the bug**
Opening this ticket on behalf of a customer. The customer is running a cf-mgmt pipeline and the task update-space-users is not working as expected for one of the ORG/SPACES.
`- name: update-space-users`
  `plan:`
  `- get: config-repo`
   ` passed: [create-spaces]`
   ` trigger: true`
 ` - get: time-trigger`
 `   trigger: true`
  `- task: update-space-users`
    `file: config-

[2020-12-05 02:01] Hermen-Nicolau commented on #248
Maybe related to https://github.com/vmwarepivotallabs/cf-mgmt/issues/169 but I'm not sure since we did not pass the flag `enable-remove-user`

[2020-12-07 15:16] mstergianis commented on #248
Hi there,

Would you be able to send over the relevant and redacted space config and org config?

[2020-12-07 22:47] Hermen-Nicolau commented on #248
[CONFIGS.txt](https://github.com/vmwarepivotallabs/cf-mgmt/files/5655665/CONFIGS.txt)

[2020-12-08 14:37] #245 closed

[2021-01-08 13:35] meraj-kashi opened #249 "stop adding deactivated ldap users"
Hi,
is there any configuration in ldap.yml to prevent adding deactivated users?
or in spaceconfig.yml

Thanks,
Meraj

[2021-01-08 15:18] mstergianis commented on #249
Hi Meraj

Thanks for your inquiry. I will look into this as soon as possible. Unfortunately today I am preparing for a presentation, so I may not get a chance today. But without fail, I will look at this on or by Monday.

Talk to you soon, Michael

[2021-01-11 11:03] spkrsna opened #250 "Deleting single user or in bulk"
**Describe the bug**

Currently we are not seeing any cf-mgmt  command for deleting a user , will there be in future any command will be added for deleting a user or bulk users

Now in current state if we delete a user some junk ids are formed after deletion of the user.

[2021-01-11 14:53] mstergianis commented on #250
Hi there,

Sorry, cf-mgmt gives you the ability to add/remove associations between users and orgs and spaces. However, cf-mgmt does not manage UAA users for you, it relies on the fact that users will exist in UAA before it tries to associate users. We currently have no plans to add user management beyond the current capabilities.

Sorry for the inconvenience, let me know if you have any more quest

[2021-01-11 16:25] mstergianis commented on #249
Hey Meraj,

Looking into things it does not look like cf-mgmt supports this.

It may be possible to add additional filters by changing the way these code segments work
* https://github.com/vmwarepivotallabs/cf-mgmt/blob/9836ecc9e62f112db853098859df77a26e8478ff/ldap/ldap.go#L20
* https://github.com/vmwarepivotallabs/cf-mgmt/blob/9836ecc9e62f112db853098859df77a26e8478ff/ldap/ldap.go#L245-L250

At th

[2021-01-11 18:30] meraj-kashi commented on #249
Hi Michael,

Thanks for your feedback. let me take a look to the code, although I am not Go expert :)

[2021-01-22 15:32] mstergianis commented on #250
Closing due to inactivity

[2021-01-22 15:32] #250 closed

[2021-01-22 15:33] mstergianis commented on #249
Hey @meraj-kashi. I'm going to close this for now. If you make any headway, feel free to re-open the issue.

[2021-01-22 15:33] #249 closed

[2021-01-22 15:36] mstergianis commented on #233
This issue was fixed with #237 and was never closed. Closing now

[2021-01-22 15:36] #233 closed

[2021-01-27 10:17] spkrsna opened #251 "Security group error"
**Describe the bug**
A clear and concise description of what the bug is.

While running cfmgmt facing the below error

error: Security group [VoltXXXX] does not exist as a non-running and non-staging security group

what will be the cause of this error and how to fix it.

[2021-02-04 20:22] mstergianis commented on #251
Hi there @spkrsna, I've started looking into your issue. Sorry that you haven't had any feedback thus far. I'll need a bit of time to look into this

[2021-02-04 20:25] mstergianis opened #252 "cf-mgmt does not error when a user has two space configs for the same space in an org"
**Describe the bug**
cf-mgmt does not error when a user has two space configs for the same space in an org

**To Reproduce**
Steps to reproduce the behavior:
1. Go to your cf-mgmt config, go into an org
2. duplicate a space directory
3. change some aspects about one space config
3. run pipeline
4. cf-mgmt applies both space configs leading to weird issues

**Expected behavior**
cf-mgmt should erro

[2021-03-30 23:51] vanillacandy opened #254 "Isolation segment with orgConfig.yml and spaceConfig.yml"
**Describe the bug**
In my orgConfig.yml
org: orgname
org-billingmanager:
  ldap_users: []
  users: []
  ldap_group: ""
org-manager:
  ldap_users: []
  users: []
  ldap_group: ""
org-auditor:
  ldap_users: []
  users: []
  ldap_group: ""
enable-org-quota: true
memory-limit: 62000
instance-memory-limit: -1
total-routes: -1
total-services: -1
paid-service-plans-allowed: false
enable-remove-users: tr

[2021-03-31 13:53] mstergianis commented on #254
Hi @vanillacandy,

First things first, I should make sure, does the isolation segment `mTLS` already exist?
From the [isolation segment section of the docs](https://github.com/vmware-tanzu-labs/cf-mgmt/tree/master/docs/isolation-segments)

Barring that, I'm happy to take a closer look, but would need some detailed logs. Feel free to scrub them of information so long as the section that I need to c

[2021-04-03 00:28] vanillacandy commented on #254
Hi thank you for the response.
Yes, the isolagtion segment mTLS already exists.
I am suspecting in my concourse pipeline, I have defined pipeline job such as cf-mgmt [OPTIONS] update-org-quotas [update-org-quotas-OPTIONS], but I didn't define cf-mgmt [OPTIONS] isolation-segments [isolation-segments-OPTIONS] in the concourse job, so the OrgConfig.yml and spaceConifg.yml changes didn't get pick up.

[2021-04-05 14:17] mstergianis commented on #254
Excellent to hear you have a path forward. Let me know how things go

[2021-04-07 02:21] vanillacandy commented on #254
Hi, I have tested it again, and it's working now that I have added isolation-segments command in the pipeline.yml.
One question I have is I noticed there are two kind of logs in the concourse
1. "set default isolation segment for org xx to mTLS": happens when the org hasn't been added to the isolation segment before
2. "reset isolation segment for space Dev (org xx)": happens when the org is alrea

[2021-04-07 14:23] mstergianis commented on #254
# TLDR
So cf-mgmt is setting the isolation segment to null. Severing any relationship between the space and any isolation segment. This means you have the empty string in the spaceConfig in question.

# Breaking it down
The log line itself is happening [here](https://github.com/vmware-tanzu-labs/cf-mgmt/blob/master/isosegment/isolation_segment.go#L368).

That occurs in a branch where:
1. ```space.

[2021-04-07 14:30] mstergianis commented on #254
Whoops, I missed an essential part of [those capi docs](http://v3-apidocs.cloudfoundry.org/version/3.99.0/index.html#manage-isolation-segment) :joy:

[2021-04-07 15:56] vanillacandy commented on #254
So there are org and space moved to isolation segment manually before we apply the spaceConfig.yml and orgConfig.yml.
For org and space that are already at isolation segment, but spaceConfig.yml and orgConfig.yml are empty, it looks like that are the ones getting "reset isolation segment for space Dev (org xx)".
Does that mean we need to manually go through each space and org to make it consistent

[2021-04-07 16:52] mstergianis commented on #254
Yes, generally speaking you cannot make manual changes (via cf api) to a cf instance that is also managed by cf-mgmt. cf-mgmt is the source of truth for the cf instance, and will overwrite most manual changes.

[2021-04-07 17:03] vanillacandy commented on #254
Thank you for explaining the documentation. I guess I would have to manually add back those ones that are empty eventually. You may close the ticket. Thank you for the great product and explanation.

[2021-04-07 18:01] mstergianis commented on #254
Glad I could help

[2021-04-07 18:01] #254 closed

[2021-04-12 21:52] pcf-user opened #255 "cf-mgmt.tml : Private Docker Image"
Here is our cf-mgmt.yml content.

Jobs are configured to pull pivotalservices/cf-mgmt docker iamge. Works fine.

![image](https://user-images.githubusercontent.com/73844017/114467026-1c7ca180-9b9e-11eb-9e13-e58bfbd51790.png)

It is still pulling the image "pivotalservices/cf-mgmt" even  when we configured cf-mgmt.yml to pull it from our Artifactory.

Is it not possible to use a private docker regi

[2021-04-13 04:22] kingdase commented on #255
We are using a "private" docker image without problems on AWS ECR.

You have to pull the docker image from dockerhub and push it to AWS ECR.

`---
platform: linux

image_resource:
  type: docker-image
  source:
    repository:  ((aws_account_no)).dkr.ecr.eu-central-1.amazonaws.com/cloud-foundry-production/docker-cf-mgmt
    tag: ((aws-ecr-docker-cf-mgmt-tag))

inputs:
  - name: config-repo

run:

[2021-04-13 14:04] pcf-user commented on #255
@kingdase : Thank you. The idea is to use an image from a private (internal) docker registry and not public (Internet) hosted.

If you look at the cf-mgmt.yml I pasted,  line # 6 defines the docker image and which is what I changed to use our private one. But yet the job is using "pivotalservice/cf-mgmt" docker image, which I am unable to understand. What config is it referencing ?

[2021-04-14 15:05] mstergianis commented on #255
Hi @pcf-user,

Are you applying the yaml after you make the changes? Something like
```fly -t my-concourse set-pipeline ...```

[2021-04-14 15:18] pcf-user commented on #255
Do we need to?  Its defined on the task.yml level and not on the pipeline.yml. Shouldn't it take into effect immediately?

[2021-04-14 20:59] mstergianis commented on #255
Good point, my amateur (at best) concourse skills are showing :joy:

Hmm, I'm having trouble identifying where this is going wrong.

Though, I'm a bit confused by your comment

In my mind the fact that the docker registry is private should not matter to the pipeline configuration. It would just be that the concourse instance would need to know how to pull from the private repo (dns rules or whatev

[2021-04-14 21:07] pcf-user commented on #255
@mstergianis Thank you.

As if by somebody pushed a magic lever, it started using docker our private registry.

So all good now.

[2021-04-14 21:07] #255 closed

[2021-04-14 21:08] mstergianis commented on #255
Glad to hear. Cheers

[2021-04-16 15:00] odidev opened #256 "Require images for ARM64"
Hi Team,

I am trying to use cf-mgmt image on ARM64 platform, but it seems it is not available. I have tried building the same using [this dockerfile](https://github.com/vmware-tanzu-labs/cf-mgmt/blob/master/docker/Dockerfile), but it is failing as base image **concourse/buildroot** is not available for arm64 and git source is archived.

Do you have plans on releasing arm64 images?

Please suggest

[2021-04-16 16:02] mbobbili opened #257 "ldap: connection closed"
Getting below errors while running **cf-mgmt update-org-users**.  How do we debug it?  Appreciate your insights.

290 initialize.go:72] Password parameter is deprecated, create uaa client and client-secret instead

write tcp <ip>:58720-><ldap ip>:636: write: broken pipe
290 ldap.go:58] LDAP Result Code 200 "Network Error": ldap: connection closed

error: Error syncing users for org <xxx> role org-

[2021-04-16 19:35] mstergianis commented on #256
Hi there @odidev,

We aren't planning on releasing arm64 images.

The fact that the image is based on `concourse/buildroot` is I think unimportant. You should be able to replace the `FROM` directive with anything you like, such as `alpine`.

[2021-04-16 19:40] mstergianis commented on #257
Hi @mbobbili,

What `cf-mgmt` version are you using?

Is your LDAP server accessible by whatever computer is running cf-mgmt? Is this the only stage that is failing?

[2021-04-16 19:58] mbobbili commented on #257
Version 1.0.16
Yes, LDAP is accessible, it was tested (curl) many times before the post.
Yes, for now, it is the only env.

[2021-04-16 20:21] calebwashburn commented on #257
Think you need to upgrade to later version that supports reconnecting for "long" running tasks.  https://github.com/vmware-tanzu-labs/cf-mgmt/releases/tag/v1.0.46

[2021-04-16 21:49] ywei2017 commented on #257
@calebwashburn  - long time no see. Great to hear from you. We will upgrade to the latest version.

[2021-04-21 11:43] dominikmueller commented on #200
We are also interested in such a feature.
For us it would be sufficient to have the ability to somehow activate the c2c network policies feature for a whole Org.

Meaning that every member of the Org should get the network.write permissions granted in order to manage network-policies.

The management of the network policies itself should still have to be done in the pipelining by the org members.

[2021-04-22 13:43] mstergianis commented on #257
Closing for now, feel free to re-open

[2021-04-23 01:27] mbobbili commented on #257
Upgrading to 1.0.46 resolved the issue.  Thank you all.

[2021-07-14 18:24] mstergianis commented on #26
Closing. Staleness

[2021-07-14 18:24] #26 closed

[2021-07-14 18:25] mstergianis commented on #75
Closing. Staleness

[2021-07-14 18:25] #75 closed

[2021-07-14 18:26] mstergianis commented on #92
Closing. Won't implement

[2021-07-14 18:26] #92 closed

[2021-07-14 18:34] mstergianis commented on #97
Closing. Won't implement

[2021-07-14 18:34] #97 closed

[2021-07-14 18:35] mstergianis commented on #146
Closing. Won't implement

[2021-07-14 18:35] #146 closed

[2021-07-14 18:37] mstergianis commented on #164
Closing. Won't implement

[2021-07-14 18:37] #164 closed

[2021-07-14 18:39] mstergianis commented on #187
Closing. Won't implement

While it would be convenient for cf-mgmt to implement this. This should be able to be accomplished with templating tools

[2021-07-14 18:39] #187 closed

[2021-07-14 18:50] mstergianis commented on #196
Closing won't implement. If someone does want to come along and do this below are some breadcrumbs.

https://github.com/vmware-tanzu-labs/cf-mgmt/blob/9836ecc9e62f112db853098859df77a26e8478ff/securitygroup/securitygroup.go#L288-L299

https://apidocs.cloudfoundry.org/16.13.0/security_groups/associate_space_with_the_security_group_for_staging.html

https://github.com/cloudfoundry-community/go-cfclie

[2021-07-14 18:50] #196 closed

[2021-07-14 18:58] mstergianis commented on #198
Won't fix

Unfortunately cf-mgmt export cannot recover information only held in cf-mgmt config files. So when you use `cf-mgmt-config create-org` or `create-space` cf-mgmt-config uses what it thinks are sensible defaults. But data points such as `enable-remove-users` are only held within cf-mgmt's internal representation (they are not cf api values). So they cannot be recovered from an export. For

[2021-07-14 18:58] #198 closed

[2021-07-14 19:04] mstergianis commented on #199
Won't implement

[2021-07-14 19:04] #199 closed

[2021-07-14 19:06] mstergianis commented on #200
Closing. Won't implement

[2021-07-14 19:06] #200 closed

[2021-07-14 20:56] mstergianis commented on #220
Addressed by [this commit](https://github.com/vmware-tanzu-labs/cf-mgmt/commit/a78c9d1c82fb6696e113233329ce3b0da9133ff7)

[2021-07-14 20:56] #220 closed

[2021-07-14 21:02] #225 closed

[2021-07-14 21:42] mstergianis commented on #226
Hey there @crusstu,

I don't think we'll be implementing a fix for this. But, it is not mandatory for a prefix to be passed in https://github.com/cloudfoundry-community/go-cfclient/blob/7773f7e226650a128e367df36c2bd007ad6c6ec1/metadata.go#L41-L45

I'm going to close this. But would be happy to accept a PR that addresses the issue

[2021-07-14 21:42] #226 closed

[2021-07-20 16:43] crusstu commented on #226
Hi @mstergianis,

I think there might be some confusion here, and was wondering if you might be open to reopening this issue.

You're correct in that https://github.com/cloudfoundry-community/go-cfclient/blob/7773f7e226650a128e367df36c2bd007ad6c6ec1/metadata.go#L41-L45 does not require a prefix, but based on my reading of https://github.com/vmware-tanzu-labs/cf-mgmt/blob/9836ecc9e62f112db853098859

[2021-07-21 15:41] bjalonmontanes opened #259 "Problem when adding users with same name different letter case, from different origins"
**Describe the bug**

We are trying to add users from uaa and saml using a task that runs cf-mgmt update-space-users command. The thing is that, on the space config files the users within the users array are listed in all lower case user.name@example.com. The users   into the saml array have a capital first letter User.Name@example.com

It appears to be 50-50 if it will pick the user with the lowe

[2021-07-21 18:34] neil-hickey commented on #259
Hey there @bjalonmontanes I can see from the code that users from LDAP / SAML are [assumed to be in UAA](https://github.com/vmware-tanzu-labs/cf-mgmt/blob/9836ecc9e62f112db853098859df77a26e8478ff/user/saml_users.go#L14), and assumed that even if SAML users have Upper case characters, they are [always converted to lower](https://github.com/vmware-tanzu-labs/cf-mgmt/blob/9836ecc9e62f112db853098859df

[2021-07-21 18:48] #227 closed

[2021-07-21 22:06] mstergianis commented on #259
Can't speak to the original product choice, but this is consistent with what I think. While the [standard](https://datatracker.ietf.org/doc/html/rfc5321#section-4.1.2) allows for case sensitive email addresses, it is not something you see in practice.

From RFC 5321:

   for maximum interoperability, a host that expects to receive mail
   SHOULD avoid defining mailboxes where the Local-part requir

[2021-07-21 22:49] neil-hickey commented on #259
Things I have tried:

### Test Case 1
Added a user to `saml_users` field that does **not** exist in UAA.

I got the following error from `cf-mgmt update-space-users`:

`Unable to create user Neil3@vmware.com`

This was possibly just an error for the env I am using. As mentioned above, the behaviour is to create a user in UAA.

### Test Case 2
Added a user to `saml_users` field that does exist in U

[2021-07-22 07:17] bjalonmontanes commented on #259
Yes  @mstergianis , that is the use case, users can login with both uaa and saml users.

Thans!

[2021-07-22 13:38] mstergianis commented on #259
Interesting @bjalonmontanes. I'd love to know more of why each user has two cf accounts.

As it stands right now though, I don't think we'll be changing this behaviour. Treating email addresses as case sensitive is not something I want to unpack :joy:.

Sorry, that this doesn't fit your use case. Have you considered omitting the email address for the native UAA acocunts? I don't believe UAA has a

[2021-07-22 14:12] mstergianis commented on #226
Good point @crusstu, I'll update the docs to reflect the default value.

FWIW I agree with your analysis. But, cf-mgmt is in maintenance mode and not planning any major releases that would include such breaking changes

[2021-07-28 21:10] neil-hickey commented on #259
hey @bjalonmontanes , given the reply to this thread, I will close this issue out tomorrow. Feel free to re-open / open another if you feel it is not resolved.

[2021-07-28 21:10] neil-hickey commented on #256
Closing as not being done.

[2021-07-28 21:10] #256 closed

[2021-07-28 21:11] neil-hickey commented on #248
Given that this issue is now stale, I am going to close. If this happens again, please feel free to re-open / open another issue.

[2021-07-28 21:11] #248 closed

[2021-08-03 18:38] vijayantprakash opened #268 "how do i delete a security group"
Hello Team ,

I am new to cfmgmt. Can someone please help understand how do i delete a security group using cfmgmt.

[2021-08-04 13:44] marcohelmerich opened #269 "Make it possible to use LDAP AND SAML simultaneously"
**Is your feature request related to a problem? Please describe.**
We are using Cloudfoundry (Tanzu Application Services). Our human users login via SAML/SSO. We used local users for some time now in CI-Pipelines and for automation tasks. Local users may pose security threats, so we would like to migrate to service users (LDAP based, with a user lifecycle in the background). We activated both ldap

[2021-08-18 13:45] kingdase opened #273 "Org Metadata Update broken"
cf-mgmt is reporting "Your deployment does not yet support v3 metadata api"

The problem is, that the cloud controller is reporting version "3.101.0"

The [source](https://github.com/vmware-tanzu-labs/cf-mgmt/blob/f44035af16d875a1a9ca48bf6b0bdb4d97d57483/vendor/github.com/cloudfoundry-community/go-cfclient/info.go#L55) is comparing "3.101.0" with "3.66.0" which will fail.

    cf curl "/"
    {

[2021-08-22 19:04] mstergianis commented on #273
Hey @kingdase. I went ahead and [fixed the issue](https://github.com/cloudfoundry-community/go-cfclient/pull/288). But in future please report issues on the project that is actually responsible. This was a bug in go-cfclient, not cf-mgmt. At this point, the resolution for this bug will be updating the library that we use. I'll keep this issue open to track the library update that is needed.

[2021-08-22 19:09] mstergianis commented on #268
Hi @vijayantprakash. cf-mgmt does not delete security groups. You will have to delete them through another means, such as the cf cli.

[2021-08-22 19:09] #268 closed

[2021-08-22 19:10] #259 closed

[2021-08-22 19:50] mstergianis commented on #251
Hey @spkrsna. This error occurs when you have a security group defined in a space config that does exist according to the cf api.

Particularly it occurs when the map lookup in either [here](https://github.com/vmware-tanzu-labs/cf-mgmt/blob/f44035af16d875a1a9ca48bf6b0bdb4d97d57483/securitygroup/securitygroup.go#L57) or [here](https://github.com/vmware-tanzu-labs/cf-mgmt/blob/f44035af16d875a1a9ca48

[2021-08-22 19:50] #251 closed

[2021-09-10 16:57] mvadu opened #277 "ldap client logs password in plain text in case of any LDAP failures"
Current implementation sets the LDAP connection to debug, and in case of any ldap errors it spits out ldap credentials in plain text (possible from [here](https://github.com/vmware-tanzu-labs/cf-mgmt/blob/8031486c7dbe4b4dd6c3ea53a2f7f05f247021dd/vendor/github.com/go-ldap/ldap/conn.go#L252).

e.g. see in [this issue](https://github.com/vmware-tanzu-labs/cf-mgmt/issues/245#issuecomment-722004156)

I

[2021-09-23 11:12] cramX opened #279 "Runtime update-space-security-groups with 250 Orgs/Spaces and 250+ Security Groups - performance"
**Is your feature request related to a problem? Please describe.**
we observe in our Cloud Foundry installation that the runtime of update-space-security-groups from about 200 orgs, about 300Spaces and about as many security groups as orgs, increases sharply from 1-2min to 30 min and more.

**Describe the solution you'd like**
The runtime should increase by a maximum of Linear.
Currently looks rat

[2021-09-24 11:22] cramX commented on #273
Hello,

is it possible to publish a new release in which the bugfix is included?

The issue was apparently already merged on 23.08.

Kind Regards

[2021-09-29 20:12] mstergianis commented on #269
Hi @marcohelmerich

cf-mgmt is no longer undergoing feature development. Happy to review and accept a PR here. But I won't have time to implement this feature.

[2021-09-29 20:56] mstergianis commented on #277
So it only set's the connection's log level to debug, if cf-mgmt's log level is debug. See here https://github.com/vmware-tanzu-labs/cf-mgmt/blob/5e4c14486ba2db176e03d3eef897f2c489e26130/ldap/connection.go#L129-L131

FWIW I think the output you're seeing is coming from here: https://github.com/go-ldap/ldap/blob/f61ea45f3b2b60217901f6110d5fef3193812062/request.go#L36-L38. As cf-mgmt never calls `St

[2021-09-29 20:56] #277 closed

[2021-09-29 21:14] mstergianis commented on #273
Thanks for keeping me honest @cramX. I've created 1.0.50

[2021-09-29 21:14] #273 closed

[2021-10-04 19:17] Proplex opened #281 "setting log level to debug causes LDAP sync to fail; bug fixed in go-ldap upstream"
**Describe the bug**
Currently, if a user sets `log_level` to `DEBUG`, LDAP syncing will fail out with the error:
[code]

This is a known issue with the LDAP library that cf-mgmt uses, and was fixed in later versions of the library. It appears we're using  v3.0.3, and the bug appears to have been fixed in v3.1.7.

Is there any chance y'all have the bandwidth to update to the new library? I underst

[2021-10-06 16:39] coffee-squirrel opened #282 "Support the "Space Supporter" role"
**Is your feature request related to a problem? Please describe.**
Not having support for all roles in `cf-mgmt` makes adoption of those new roles difficult.

**Describe the solution you'd like**
[TAS v2.12.0](https://docs.pivotal.io/application-service/2-12/release-notes/runtime-rn.html#space-supporter) ([CAPI 1.111.0](https://github.com/cloudfoundry/capi-release/releases/tag/1.111.0)?) introduce

[2021-11-10 18:46] Proplex commented on #281
This is now working as of the latest cf-mgmt release, thank you!

[2021-11-10 18:46] #281 closed

[2022-06-28 09:53] fejnartal commented on #282
Merged and released. Thanks @calebwashburn for this amazing contribution:
https://github.com/vmware-tanzu-labs/cf-mgmt/releases/tag/v1.0.52

[2022-06-28 09:53] #282 closed

[2022-09-30 02:01] san4ever opened #310 "Export the existing ASG that are created manually"
Hi Team,
We are trying to export all the org/space/ASG's created manually  and manage using cf-mgmt. But when executing export-config  ASG files are exported but not reflecting in spaceConfig.yml.  Is there any flag missing or is it expected behavior ?

Our Goal is to manage the ASG's using cf-mgmt. Befoe that all the existing ASG's should be intact

[2022-09-30 02:28] san4ever commented on #310
Configs are reflecting

[2022-09-30 02:43] #310 closed

[2022-09-30 04:02] san4ever opened #311 "ASG not binding to space"
Hi
We trying to manage the ASG using cf-mgmt. We exported all the configuration using cf-mgmt export-config command.
Now  create-security-groups job is simply creating the ASG but not binding to space even though i specified the ASG name in space-config.yml

Note: We are not managing orgs/spaces using cf-mgmt

Am i missing sometime ?

[2022-11-23 15:02] ulrichnansi opened #321 "I can't connect with Ldap"
Hello,

I'm trying to connect with Ldap. I have this error :
error: cannot bind with sTasCfmgmt: unable to read LDAP response packet: read tcp 10.254.4.186:47404->10.211.196.85:636: read: connection reset by peer

I have tested my credentials in Ldap Browser. There worked fine.

That is my vars.yml file :
# your git repo uri
git_repo_uri: ((repo))
git_repo_branch: master
# your cf system domain
sy

[2022-11-29 14:10] ulrichnansi commented on #321
It's now OK. This issue occurs with version < 1.0.50. I change the cf-mgmt version and it's now OK

[2022-11-29 14:19] #321 closed